@import "tailwindcss";

@theme {
  --color-brand: #fa7275;
  --color-brand-100: #dc3f43;
  --color-dark-200: #1f2937;
  --color-light-100: #374151;
  --color-light-200: #9ca3af;
  --color-light-300: #d1d5db;
  --color-light-400: #f3f4f6;
  --color-red: #ef4444;
  --color-error: #dc2626;
  
  --shadow-drop-1: 0px 10px 30px 0px rgba(74, 74, 104, 0.07);
  --shadow-drop-2: 0px 10px 30px 0px rgba(74, 74, 104, 0.10);
  --shadow-drop-3: 0px 10px 30px 0px rgba(74, 74, 104, 0.15);
}

@layer base {
  * {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-dark-200 min-h-screen;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #fa7275;
  }

  .remove-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 0px;
  }

  .remove-scrollbar::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }

  .recharts-responsive-container {
    height: initial !important;
  }
}

@layer utilities {
  .h1 {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
  }
  .h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }
  .h3 {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .h4 {
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
  .h5 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .subtitle-1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }
  .subtitle-2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  .body-1 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .body-2 {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .button {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .caption {
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
  .overline {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }

  .container {
    @apply mx-auto max-w-7xl px-5;
  }
  .primary-btn {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }

  .shad-no-focus {
    @apply outline-none ring-offset-transparent focus:ring-transparent focus:ring-offset-0 focus-visible:outline-none focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
  .shad-input {
    @apply border-none shadow-none p-0 placeholder:text-light-200;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
  }

  .shad-form-item {
    @apply flex h-[78px] flex-col justify-center rounded-xl border border-light-300 px-4 shadow-drop-1;
  }
  .shad-form-label {
    @apply text-light-100 pt-2 w-full;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .shad-form-message {
    @apply text-red ml-4;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .shad-alert-dialog {
    @apply space-y-4 max-w-[95%] sm:w-fit rounded-xl md:rounded-[30px] px-4 md:px-8 py-10 bg-white outline-none;
  }
  .shad-submit-btn {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .shad-otp {
    @apply w-full flex gap-1 sm:gap-2 justify-between;
  }
  .shad-otp-slot {
    @apply text-[40px] font-medium rounded-xl ring-brand shadow-drop-1 text-brand-100 justify-center flex border-2 border-light-300 size-12 md:size-16 gap-5;
  }

  .shad-sheet {
    @apply pt-0;
  }
  .shad-sheet button,
  .shad-dialog button {
    @apply focus:ring-0 focus:ring-offset-0 focus-visible:border-none outline-none focus-visible:outline-none focus-visible:ring-transparent focus-visible:ring-offset-0;
  }
  .shad-dropdown-item {
    @apply cursor-pointer;
  }
  .shad-dialog {
    @apply rounded-[26px] w-[90%] max-w-[400px] px-6 py-8;
  }
  .shad-chart-title {
    @apply text-white;
  }
  .shad-select-item {
    @apply cursor-pointer;
  }

  .nav-icon {
    @apply w-6 filter invert opacity-25;
  }
  .nav-icon-active {
    @apply invert-0 opacity-100;
  }

  .main-content {
    @apply h-full flex-1 overflow-auto bg-light-400 px-5 py-7 sm:mr-7 sm:rounded-[30px] md:mb-7 md:px-9 md:py-10;
  }
  .main-content::-webkit-scrollbar {
    width: 0px;
  }

  .dashboard-container {
    @apply mx-auto grid max-w-7xl grid-cols-1 gap-6 md:grid-cols-2 xl:gap-10;
  }
  .dashboard-summary-list {
    @apply mt-6 grid grid-cols-1 gap-4 xl:mt-10 xl:grid-cols-2 xl:gap-9;
  }
  .dashboard-summary-card {
    @apply relative mt-6 rounded-[20px] bg-white p-5 transition-all hover:scale-105;
  }
  .summary-type-icon {
    @apply absolute -left-3 top-[-25px] z-10 w-[190px] object-contain;
  }
  .summary-type-size {
    @apply relative z-20 w-full text-right;
    font-size: 18px;
    line-height: 20px;
    font-weight: 500;
  }
  .summary-type-title {
    @apply relative z-20 text-center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .dashboard-recent-files {
    @apply h-full rounded-[20px] xl:h-[654px] overflow-auto bg-white p-5 xl:p-7;
  }
  .dashboard-recent-files::-webkit-scrollbar {
    width: 6px;
    height: 3px;
    border-radius: 50px;
  }
  .dashboard-recent-files::-webkit-scrollbar-track {
    background: transparent;
  }
  .dashboard-recent-files::-webkit-scrollbar-thumb {
    background: #e5e7eb;
    border-radius: 50px;
  }
  .dashboard-recent-files::-webkit-scrollbar-thumb:hover {
    background: #fa7275;
  }
  .recent-file-details {
    @apply flex w-full justify-between items-center;
  }
  .recent-file-name {
    @apply line-clamp-1 w-full text-light-100 sm:max-w-[200px] lg:max-w-[250px];
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }
  .recent-file-date {
    @apply text-light-100/80;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .empty-list {
    @apply mt-10 text-center text-light-200;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }

  .page-container {
    @apply mx-auto flex w-full max-w-7xl flex-col items-center gap-8;
  }
  .total-size-section {
    @apply flex mt-2 flex-col justify-between sm:flex-row sm:items-center;
  }
  .file-list {
    @apply grid w-full gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4;
  }
  .sort-container {
    @apply mt-5 flex items-center sm:mt-0 sm:gap-3;
  }

  .rename-input-field {
    @apply h-[52px] w-full rounded-full border px-4 shadow-drop-1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
  }
  .delete-confirmation {
    @apply text-center text-light-100;
  }
  .delete-file-name {
    @apply font-medium text-brand-100;
  }
  .modal-cancel-button {
    @apply h-[52px] flex-1 rounded-full bg-white text-light-100 hover:bg-transparent;
  }
  .modal-submit-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full mx-0 h-[52px] w-full flex-1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }

  .file-details-thumbnail {
    @apply mb-1 flex items-center gap-3 rounded-xl border border-light-200/40 bg-light-400/50 p-3;
  }
  .file-details-label {
    @apply w-[30%] text-light-100;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }
  .file-details-value {
    @apply flex-1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  .share-wrapper {
    @apply mt-2 space-y-2;
  }
  .share-input-field {
    @apply h-[52px] w-full rounded-full border px-4 shadow-drop-1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
  }
  .share-remove-user {
    @apply rounded-full bg-transparent text-light-100 shadow-none hover:bg-transparent;
  }
  .remove-icon {
    @apply aspect-square rounded-full;
  }

  .auth-form {
    @apply flex max-h-[800px] w-full max-w-[580px] flex-col justify-center space-y-6 transition-all lg:h-full lg:space-y-8;
  }
  .form-title {
    @apply text-center text-light-100 md:text-left;
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
  }
  .form-submit-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full h-[66px];
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .error-message {
    @apply mx-auto w-fit rounded-xl bg-error/5 px-8 py-4 text-center text-error;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .file-card {
    @apply flex cursor-pointer flex-col gap-6 rounded-[18px] bg-white p-5 shadow-sm transition-all hover:shadow-drop-3;
  }
  .file-card-details {
    @apply flex flex-col gap-2 text-light-100;
  }

  .chart {
    @apply flex items-center rounded-[20px] bg-brand p-2 text-white md:flex-col xl:flex-row;
  }
  .chart-container {
    @apply mx-auto aspect-square w-[180px] text-white xl:w-[200px];
  }
  .polar-grid {
    @apply first:fill-white/20 last:fill-brand;
  }
  .chart-details {
    @apply flex-1 items-start px-3 py-0 sm:px-5 lg:p-3 xl:pr-5;
  }
  .chart-total-percentage {
    @apply fill-white text-4xl font-bold;
  }
  .chart-title {
    @apply font-bold md:text-center lg:text-left;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
  }
  .chart-description {
    @apply mt-2 w-full text-white/70 md:text-center lg:text-left;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
  }

  .uploader-button {
    @apply bg-brand hover:bg-brand-100 transition-all rounded-full h-[52px] gap-2 px-10 shadow-drop-1;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
  }
  .uploader-preview-list {
    @apply fixed bottom-10 right-10 z-50 flex size-full h-fit max-w-[480px] flex-col gap-3 rounded-[20px] bg-white p-7 shadow-drop-3;
  }
  .uploader-preview-item {
    @apply flex items-center justify-between gap-3 rounded-xl p-3 shadow-drop-3;
  }
  .preview-item-name {
    @apply mb-2 line-clamp-1 max-w-[300px];
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
  }

  .error-toast {
    @apply bg-red rounded-[10px];
  }

  .header {
    @apply hidden items-center justify-between gap-5 p-5 sm:flex lg:py-7 xl:gap-10;
  }
  .header-wrapper {
    @apply flex items-center justify-center min-w-fit gap-4;
  }
  .sign-out-button {
    @apply flex items-center justify-center h-[52px] min-w-[54px] rounded-full bg-brand/10 p-0 text-brand shadow-none transition-all hover:bg-brand/20;
  }

  .mobile-header {
    @apply flex h-[60px] justify-between px-5 sm:hidden;
  }
  .header-user {
    @apply my-3 flex items-center gap-2 rounded-full p-1 text-light-100 sm:justify-center sm:bg-brand/10 lg:justify-start lg:p-3;
  }
  .header-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover;
  }
  .mobile-nav {
    @apply flex-1 gap-1 text-brand;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .mobile-nav-list {
    @apply flex flex-1 flex-col gap-4;
  }
  .mobile-nav-item {
    @apply flex text-light-100 gap-4 w-full justify-start items-center px-6 h-[52px] rounded-full;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .mobile-sign-out-button {
    @apply flex h-[52px] w-full items-center gap-4 rounded-full bg-brand/10 px-6 text-brand shadow-none transition-all hover:bg-brand/20;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }

  .otp-close-button {
    @apply absolute -right-1 -top-7 cursor-pointer sm:-right-2 sm:-top-4;
  }

  .search {
    @apply relative w-full md:max-w-[480px];
  }
  .search-input-wrapper {
    @apply flex h-[52px] flex-1 items-center gap-3 rounded-full px-4 shadow-drop-3;
  }
  .search-input {
    @apply w-full border-none p-0 shadow-none placeholder:text-light-200;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    outline: none;
  }
  .search-input::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
  .search-result {
    @apply absolute left-0 top-16 z-50 flex w-full flex-col gap-3 rounded-[20px] bg-white p-4;
  }
  .empty-result {
    @apply text-center text-light-100;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
  }

  .sidebar {
    @apply hidden h-screen w-[90px] flex-col overflow-auto px-5 py-7 sm:flex lg:w-[280px] xl:w-[325px];
  }
  .sidebar::-webkit-scrollbar {
    width: 0px;
  }
  .sidebar-nav {
    @apply mt-9 flex-1 gap-1 text-brand;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .sidebar-nav-item {
    @apply flex text-light-100 gap-4 rounded-xl lg:w-full justify-center lg:justify-start items-center lg:px-[30px] h-[52px] lg:rounded-full;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
  .sidebar-user-info {
    @apply mt-4 flex items-center justify-center gap-2 rounded-full bg-brand/10 p-1 text-light-100 lg:justify-start lg:p-3;
  }
  .sidebar-user-avatar {
    @apply aspect-square w-10 rounded-full object-cover;
  }

  .shad-active {
    @apply bg-brand text-white shadow-drop-2;
  }

  .sort-select {
    @apply h-11 w-full rounded-[8px] border-transparent bg-white shadow-sm sm:w-[210px];
    outline: none;
  }
  .sort-select-content {
    @apply shadow-drop-3;
  }

  .thumbnail {
    @apply flex items-center justify-center size-[50px] min-w-[50px] overflow-hidden rounded-full bg-brand/10;
  }
  .thumbnail-image {
    @apply size-full object-cover object-center;
  }
}
